services:
  web:
    build: .
    environment:
      SECRET_KEY_BASE: "9bc4f9e3928175f89f950dedf5f37b1e9c021a553881e36f10fcb0afdf"
      RAILS_ENV: development
      DATABASE_URL: postgresql://postgres:123456@db:5432/postgres
      DB_USERNAME: postgres
      DB_PASSWORD: 123456
      REDIS_URL: redis://redis:6379/0
    command: bash -lc "rm -f tmp/pids/server.pid && bundle exec rails server -b 0.0.0.0"
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - .:/rails
      - rails_storage:/rails/storage
    depends_on:
      - db
      - redis

  sidekiq:
    build: .
    command: bash -lc "bundle exec sidekiq"
    volumes:
      - .:/app
      - rails_storage:/rails/storage
    environment:
      RAILS_ENV: development
      REDIS_URL: redis://redis:6379/0
      DATABASE_URL: postgresql://postgres:password@db:5432/postgres
    depends_on:
      - db
      - redis

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

volumes:
  db_data:
  rails_storage:
