version: "3.8"

services:
  web:
    build: .
    environment:
      SECRET_KEY_BASE: "9bc4f9e3928175f89f950dedf5f37b1e9c021a553881e36f10fcb0afd0e08436e22cf50843e1ac0986f102f88c727160c8c96a7fe464326e75b5f0413321922f"
      RAILS_ENV: development
      DATABASE_URL: postgresql://postgres:password@db:5432/postgres
      REDIS_URL: redis://redis:6379/0
    command: bash -lc "rm -f tmp/pids/server.pid && bundle exec rails server -b 0.0.0.0"
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    depends_on:
      - db
      - redis

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  sidekiq:
    build: .
    command: bundle exec sidekiq
    volumes:
      - .:/app
    environment:
      RAILS_ENV: development
      REDIS_URL: redis://redis:6379/0
      DATABASE_URL: postgresql://postgres:password@db:5432/postgres
    depends_on:
      - db
      - redis

volumes:
  db_data:
